.container{
    min-height: 100vh;

    .box-logo{
        height:64px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo{
            width: 30px;
            height:30px;
            margin-left: 5px;
        }

        .logo-text{
            color: #fff;
            text-wrap: nowrap;
            user-select: none;


        }
    }

    .content{
        margin: 1px,0;
        background-color: #fff;
        padding: 24;

    }

    .footer{
        background-color: #fff;
        text-align: center;
    }
}