.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0;
    background: #fff;

    .box-left{
        display: flex;
        align-items: center;
    }

    .btn-collapsed{
        font-size: '16px';
        width: 64px;
        height: 64px;
    }
}